{%load static %}
<head>
<title>ARUNA GRANITE AND MARBLES</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Today Flats Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	SmartPhone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="{% static 'polls/css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
<link href="{% static 'polls/css/style.css' %}" rel='stylesheet' type='text/css' /> 
<link rel="stylesheet" href="{% static 'polls/css/smoothbox.css' %}" type='text/css' >
<!-- //Custom Theme files -->
<!-- js -->
<script src="{% static 'polls/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'polls/js/wishlist.js' %}"></script>
<script type="text/javascript">
    ReadCookie();
</script>

<!-- //js -->
<!-- web font -->
<link href="//fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- //web font -->
</head>
<body> 
	
		
			<div class="navigation">
				<div class="container">
					<div class="agileits-logo">
						<h1><a href="">ARUNA <span class="w3agile">GRANITE AND MARBLES</span></a></h1>
					</div>
					<div class="navigation-right">
						<span class="menu"><img src="{% static 'polls/images/menu.png' %}" alt=" " /></span>
						<nav class="link-effect-3" id="link-effect-3">
							<ul class="nav1 nav">
								<li><a data-hover="Home" href="">Home</a></li>
								<li><a href="#about" class="scroll" data-hover="About">About</a></li>
								<li><a href="#agents" class="scroll" data-hover="Products">Products</a></li> 
                        <!--        <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-hover="Pages">Pages <span class="caret"></span></a>
									<ul class="dropdown-menu"> 
										<li><a data-hover="Gallery" href="#gallery" class="scroll">Gallery</a></li>
										<li><a data-hover="Testimonials" href="#testimonial" class="scroll">Testimonials</a></li>
									</ul>
								</li>  -->  
								<li><a data-hover="Contact" href="#contact" class="scroll">Contact</a></li>
							</ul>
						</nav>
							<!-- script-for-menu -->
							<script>
							   $( "span.menu" ).click(function() {
								 $( "ul.nav1" ).slideToggle( 300, function() {
								 // Animation complete.
								  });
								 });
							</script>
							<!-- //script-for-menu -->
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			
    <!--wishlist-->
    <div style="padding:20px">
    
     {% for name,value in cookies.items %}
      {% if name != 'csrftoken' %}
       <div class="row">
                    <div class="col-md-3">
                       <div class="thumbnail">
                         <img src={{value}} alt="...">
                       </div>
                    </div>
                    <div class="col-md-3 col-md-offset-2" style="text-align:center">{{name}}</div>
        </div>
        {%endif%}

    {% endfor %}
    
    </div>
    
    <!--wishlist-->
	
    <!--send email-->
    <form class="form-horizontal" action="{% url 'polls:vote' %}" method="post">
    {%csrf_token%}
    <div class="form-group">
    <label class="control-label col-sm-2" for="email">Email:</label>
    <div class="col-sm-6">
      <input type="email" name="choice" size="35" class="form-control" placeholder="Enter email">
    </div>
  </div>
  <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-8">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
    </form>

    <!--send email-->
    
	<!-- contact -->
	<div class="contact" id="contact">
		<div style="background-color:#ADD8E6; padding:40px 40px 40px 40px">
			<h3><a href="index.html">Aruna Granite and Marbles </a></h3>
			<div class="col-xs-6 w3agile_contact_right_agileinfo">
				<h4>Address</h4>
				<p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>E-275, Aruna Granite and Marbles,M.I.A, Basni, IInd Phase, Jodhpur, Rajasthan</p>
				<p><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>(+) 91 9414130162</p>
				<p><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:arunagraniteandmarbles@gmail.com">arunagraniteandmarbles@gmail.com</a></p>
			</div>
			<div class="col-xs-6 w3agile_contact_right_agileinfo">
				<h4>Follow Us</h4>
				<div class="agileits_social_icons">
					<a href="#" class="icon-button twitter"><i class="icon-twitter"></i><span></span></a>
					<a href="#" class="icon-button facebook"><i class="icon-facebook"></i><span></span></a>
					<a href="#" class="icon-button google-plus"><i class="icon-google-plus"></i><span></span></a>
				</div>
			</div>
			<div class="clearfix"> </div>
			<div class="w3_copy_right">
				<p>© 2017 Aruna Granite and Marbles . All rights reserved.<i>Design by Himanshu Mehta And Dev Sharma</i>                                                                            </p>
			</div>
		</div>
		<div class="clearfix"> </div>
	</div>
	<!-- //contact -->
	<!-- bootstrap js -->
	<script src="{% static 'polls/js/bootstrap.js' %}"></script>
	<!-- //bootstrap js -->
	<!-- start-smooth-scrolling -->
	<script type="text/javascript" src="{% static 'polls/js/move-top.js' %}"></script>
	<script type="text/javascript" src="{% static 'polls/js/easing.js' %}"></script>
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
	</script>
	<!-- start-smooth-scrolling -->
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
	<!-- //here ends scrolling icon -->
</body>